.section-header {
  text-align: center;
  margin: 20px 0;
}

.section-header .section-title {
  font-size: 2rem;
  color: var(--text-color-third);
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: capitalize;
}

.section-header .section-subtitle {
  font-size: 0.8rem;
  color: var(--text-color-second);
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: capitalize;
  opacity: 0.5;
}
